.quality-experience-is-ourpriority {
	padding: 45px 0;
	.img-box {
		padding-top: 35px;
		.row {
			margin-left: -5px;
			margin-right: -5px;
			> * {
				padding-right: 5px;
				padding-left: 5px;
			}
		}
		.item {
			height: 413px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			position: relative;
			.info{
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				background: $searchbg;
				color: $wrapperbg;
				padding: 15px 25px;
				-webkit-transition: all .3s; 
				transition: all .3s;
				text-align: left;
				h3{
					font-size: (22/$fsize) + em;

				}
				p{
					font-size: (12/$fsize) + em;
					color: $searchlinkcolor;
					padding-bottom: 0px;
					padding-top: 5px;
				}
			}
			&:hover{
				.info{
					border-bottom: 10px solid $searchlinkcolor2;
				}
			}
			.full-link{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				z-index: 3;
			}
		}
	}
}
@media only screen and (max-width: 767px){
	.quality-experience-is-ourpriority {
		.img-box {
			.item{
				height: auto;
				background: none !important;
				.info{
					position: relative;
					background: $menucolor;
				}
				margin-bottom: 5px;
			}
		}
	}
}