.your-list{
	padding: 30px 0;
	.row{
		margin-left: -5px;
		margin-right: -5px;
		> *{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.view-img{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 291px;
	}
	.info{
		padding: 20px 28px;
	}
	h3{
		font-size: (22/$fsize) + em;
		color: $h2color;
	}
	a{
		color: $searchlinkcolor2;
	}
}