<div class="your-list">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="view-img" style="background-image: url(assets/data/img20.jpg)"></div>
				<div class="info">
					<h3>Pet Friendly</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pretium risus, nec hendrerit sem. Morbi dapibus justo non velit interdum elementum. Aenean in sapien a sapien blandit sodales. Praesent lacinia, sapien quis finibus imperdiet, felis ante faucibus urna.
					</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="view-img" style="background-image: url(assets/data/img21.jpg)"></div>
				<div class="info">
					<h3>Green Living</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pretium risus, nec hendrerit sem. Morbi dapibus justo non velit interdum elementum. Aenean in sapien a sapien blandit sodales. Praesent lacinia, sapien quis finibus imperdiet, felis ante faucibus urna. <a href="#" title="Read More">Read More</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>