<div class="denver-front-range-box style-right">
	<div class="img-box text-center" style="background-image: url(assets/data/img8.jpg)">
		<div class="table">
			<div class="cell">
				<h2>
					Austin, TX
				</h2>
				<a href="#" title="View Communities" class="btn">View Communities</a>
			</div>
		</div>
		
	</div>
	<div class="content">
		<div class="table">
			<div class="cell">
				<h3>
					Lorem Ipsum Dolor
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pretium risus, nec hendrerit sem. Morbi dapibus justo non velit interdum elementum. Aenean in sapien a sapien blandit sodales. Praesent lacinia, sapien quis finibus imperdiet, felis ante faucibus urna.
				</p>
				<hr/>
				<div class="row">
					<div class="col-xs-6">
						<ul>
							<li>
								<a href="#" title="Griffis Canyon Creek">Griffis Canyon Creek</a>
							</li>
							<li>
								<a href="#" title="Griffis at the Domain">Griffis at the Domain</a>
							</li>
							<li>
								<a href="#" title="Griffis on La Frontera">Griffis on La Frontera</a>
							</li>
							
						</ul>
					</div>
					<div class="col-xs-6">
						<ul>
							<li>
								<a href="#" title="Griffis Lakeline Station">Griffis Lakeline Station</a>
							</li>
							<li>
								<a href="#" title="Griffis Parmer Lane">Griffis Parmer Lane</a>
							</li>
							<li>
								<a href="#" title="Griffis SoCo Austin">Griffis SoCo Austin</a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>