.your-views{
	.row{
		margin: 0px;
		> *{
			padding: 0px;
		}
	}
	.view-img{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 286px;
		font-size: (35/$fsize) + em;
		color: $wrapperbg;
		position: relative;
		&:before{
			background: $searchbg;
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 1;
			-webkit-transition: opacity .5s; 
			transition: opacity .5s;
		}
		> *{
			position: relative;
			z-index: 2;
		}
		.back{
			display: none;
			text-align: left;
			padding:30px 50px;
		}
		.front{
			padding:30px;
		}
		&:hover{
			cursor: pointer;
			&:before{
				opacity: 1;
			}
			.back{
				display: block;
				font-size: (14/35)+em;
			}
			.front{
				display: none;

			}
		}
		&.big-img{
			height: 535px;
			position: relative;
			&:before{
				background: $blue;
				content: "";
				position: absolute;
				top: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				z-index: 1;
				opacity: .75;
			}
			.container{
				position: relative;
				z-index: 2;
				max-width: 545px;
				.btn{
					font-size: (14/35)+em;
					border: 2px solid $wrapperbg;
					padding: 7px 35px;
					border-radius: 0px;
					margin-top: 20px;
					margin-bottom: 10px;
					color: $wrapperbg;
				}
			}
		}
	}
}
.view-img2{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 286px;
	font-size: (35/$fsize) + em;
	color: $wrapperbg;
	position: relative;
	&:before{
		background: $searchbg;
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 1;
		-webkit-transition: opacity .5s; 
		transition: opacity .5s;
	}
	> *{
		position: relative;
		z-index: 2;
	}
	.back{
		display: none;
		text-align: left;
		padding:30px 50px;
	}
	.front{
		padding:30px;
	}
	&:hover{
		cursor: pointer;
		&:before{
			opacity: 1;
		}
		.back{
			display: block;
			font-size: (14/35)+em;
		}
		.front{
			display: none;

		}
	}
	&.big-img{
		height: 535px;
		position: relative;
		&:before{
			background: $blue;
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			z-index: 1;
			opacity: .75;
		}
		.container{
			position: relative;
			z-index: 2;
			max-width: 545px;
			.btn{
				font-size: (14/35)+em;
				border: 2px solid $wrapperbg;
				padding: 7px 35px;
				border-radius: 0px;
				margin-top: 20px;
				color: $wrapperbg;
				margin-bottom: 10px;
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.your-views{
		.view-img{
			height: 200px;
			.back{
				padding:10px 20px;
			}
			&.big-img{
				height: 275px;
			}
		}
	}
	.view-img2{
		height: 200px;
		.back{
			padding:10px 20px;
		}
		&.big-img{
			height: 275px;
		}
	}
}