<div class="your-views text-center">
	<div class="row">
		<div class="col-sm-4">
			<div class="view-img" style="background-image:url(assets/data/img16.jpg)">
				<div class="table">
					<div class="cell">
						<div class="front"><p>Your needs.</p></div>
						<div class="back">
							<p>Sometimes they’re simple, like needing a replacement key. Sometimes they’re more involved, like needing a sink unclogged. Whatever they are, we pride ourselves on our ability to understand that fulfilling your needs quickly will enhance your experience with us. Because we want our residents to celebrate their home, not just live in it.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="view-img" style="background-image:url(assets/data/img17.jpg)">
				<div class="table">
					<div class="cell">
						<div class="front"><p>Your home.</p></div>
						<div class="back">
							<p>Sometimes they’re simple, like needing a replacement key. Sometimes they’re more involved, like needing a sink unclogged. Whatever they are, we pride ourselves on our ability to understand that fulfilling your needs quickly will enhance your experience with us. Because we want our residents to celebrate their home, not just live in it.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="view-img" style="background-image:url(assets/data/img18.jpg)">
				<div class="table">
					<div class="cell">
						<div class="front"><p>Your lifestyle.</p></div>
						<div class="back">
							<p>Sometimes they’re simple, like needing a replacement key. Sometimes they’re more involved, like needing a sink unclogged. Whatever they are, we pride ourselves on our ability to understand that fulfilling your needs quickly will enhance your experience with us. Because we want our residents to celebrate their home, not just live in it.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="view-img2 big-img parallax-window" data-parallax="scroll" data-image-src="assets/data/img19.jpg" >
	<div class="table">
		<div class="cell">
			<div class="container">
				<p>Loyalty rewards lorem ipsum consectetur adipiscing</p>
				<a class="btn" title="Learn More" href="#">Learn More</a>
			</div>
		</div>
	</div>
</div>