<div class="big-img-box leader-style">
	<div class="img-view" style="background-image:url(assets/data/img22.jpg)"></div>
	<div class="content fix-height">
		<div class="table">
			<div class="cell">
				<div class="container">
					<h3>Tom Barta <span>Chief Operating Officer</span></h3>

					<p>
						Mr. Barta, Chief Operating Officer, is responsible for overseeing operations including the firm’s asset management and finance functions. Mr. Barta guides and develops the Griffis Customer Experience Management Team and Guest Culture Initiative. <span class="more-content">Chairman of the Advisory Committees for Funds I - IV and a member of the Griffis Residential Investment Committee.</span> <a href="javascript:void(0)" title="Read More"><span class="active">Read More</span><span class="noactive">Read Less</span></a>
					</p>
					
				</div>
			</div>
		</div>
		
	</div>
</div>