#header-section {
	background: $headerbg;
	padding:0 15px;
	&.pin {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 999;
	}
	&.scrolling{
		box-shadow: 0 0 2px rgba(0,0,0,.3);
	}
	.logo {
		padding: 20px 0 20px 20px;
		max-width: 219px;
		img{
			height: 19px;
		}
	}
	.row {
		>*{
			padding:0px;
			position: static;
		}
	}
	ul {
		list-style: none;
		padding: 0px;
	}
	ul.nav {
		>
		li {
			font-size: 1em;
			font-weight: 500;
			border-left: 1px solid $menubordercolor;
			position: static;
			float: left;
			a{
				color: $menucolor;
				padding: 20px 25px 21px;
			}
			&.active {
				>a {
					color: $searchlinkcolor2;
				}
			}
			&:hover, &.active {
				> a{
					background: $menuactive;
				}
			}
			// &:hover {
			// 	> ul {
			// 		display: block;
			// 	}
			// }

			> ul {
				position: absolute;
				top: 100%;
				left: 0px;
				width: 100%;
				background: $menuactive;
				display: table;
				padding:0 20px;
				display: none;
				-webkit-transition: all .5s; 
				transition: all .5s;
				
				&.show{
					display: block;
				}
				&:after{
					clear: both;
				}
				> li {
					float: left;
					padding:25px 30px;
					border-right: 2px solid $menusubbordercolor;
					font-size: (12/$fsize) + em;
					&:first-child {
						border-left: 2px solid $menusubbordercolor;
					}
					a{
						padding: 2px 0;
						display: block;
						text-decoration: none !important;
					}
					
					> a {
						color: $h2color;
						font-weight: 700;
					}
					ul {
						li {
							&:hover, &.active {
								> a {
									color: $btncolor1;
								}
							}
						}
					}
					
					
				}

			}

		}
	}
}
.menu-button{
	display: none;
}
@media only screen and (max-width: 832px){
	#header-section {
		ul.nav {
			>
			li {
				> a{
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
}
@media only screen and (max-width: 887px){
	#header-section {
		ul.nav {
			>
			li {
				>ul {
					> li{
						padding:25px 10px;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 767px){
	body{
		position: relative;
		left:0px;
		-webkit-transition: left .5s; 
		transition: left .5s;
		&.active{
			left: -80%;
		}
	}
	html.active{
		overflow: hidden;
	}
	#header-section {
		-webkit-transition: left .5s; 
		transition: left .5s;
		&.active{
			left: -80%;
		}
		.logo{
			width: 219px;
		}
		.menu-container{
			float: none !important;
			font-size: 14px;
			height: 100%;
			overflow: auto;
			position: fixed;
			left: 100%;
			width: 80%;
			background: $wrapperbg;
			top: 0px;
			-webkit-transition: left .5s; 
			transition: left .5s;
			&.active{
				left: 20%;
			}
			ul{
				
				margin: 0px;
				display: block;
				li{
					height: auto !important;
					float: none;
					a{
						padding:10px 20px;
					}
					&:hover {
						> a{
							background: none;
						}
					}
					&.hover, &.active{
						> a{
							background: $btncolor1;
							color: $wrapperbg;
						}
					}
					&.hover{
						> ul{
							display: block;
						}
					}
					ul{
						display: none;
						position: relative;
						left: auto;
						top: auto;

						li{
							float: none;
							width: auto;
							padding: 0px;
							border:none !important;
							a{
								padding: 10px 0;
							}
							&.hover, &.active{
								> a{
									background: none;
									color: $btncolor1;
								}
							}
							ul{
								li{
									padding:0 0 0 10px;
								}
							}
						}
					}
				}
			}

		}
	}

	.menu-button{
		display: block;
		width: 40px;
		height: 30px;
		position: absolute;
		top:20px;
		right: 20px;
		margin-top: 0px;
		span{
			width: 30px;
			height: 4px;
			display: block;
			-webkit-transition: all .2s; 
			transition: all .2s;
			background: $menubtncolor;
			&:before{
				content: "";
				width: 30px;
				height: 4px;
				background: $menubtncolor;
				position: absolute;
				top: 8px;
				left: 0px;
				-webkit-transition: all .2s; 
				transition: all .2s;

			}
			&:after{
				content: "";
				width: 30px;
				height: 4px;
				background: $menubtncolor;
				position: absolute;
				top: 16px;
				left: 0px;
				-webkit-transition: all .2s; 
				transition: all .2s;

			}
		}
		&.active{
			span{
				background: $wrapperbg;
				&:before{
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
					top: 11px;
				}
				&:after{
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
					top: 11px;
				}
			}
		}

	}
}
@media only screen and (max-width: 768px){
#header-section{
	padding-right: 20px;
}
}