<div id="header-section" class="pin">
	<div class="row">
		<div class="col-xs-4">
			<div class="logo">
				<a href="index.html" title="Griffis Residential">
					<img src="assets/images/logo.svg" alt="Griffis Residential" />
				</a>
			</div>
		</div>
		<div class="col-xs-8">
			<a href="javascript:void(0)" class="menu-button"><span></span></a>
			<div class="pull-right menu-container" id="menu-container">
				<ul class="nav navbar-nav">
					<li class="@@active1">
						<a href="communities.html" title="Communities">Communities</a>
						<ul>
							<li>
								<a href="denver-front-range.html" title="Denver & Front Range, CO">Denver & Front Range, CO</a>
								<ul>
									<li>
										<a href="#" title="Griffis 3100 Pearl">Griffis 3100 Pearl</a>
									</li>
									<li>
										<a href="#" title="Griffis Belleview Station ">Griffis Belleview Station </a>
									</li>
									<li>
										<a href="#" title="Griffis Fitzsimons South">Griffis Fitzsimons South</a>
									</li>
									<li>
										<a href="#" title="Gateway Park">Gateway Park</a>
									</li>
									<li>
										<a href="#" title="The Highline on Cherry Creek">The Highline on Cherry Creek</a>
									</li>
									<li>
										<a href="#" title="Griffis Lafayette Station">Griffis Lafayette Station</a>
									</li>
									<li>
										<a href="#" title="Griffis Legacy Ridge">Griffis Legacy Ridge</a>
									</li>
									<li>
										<a href="#" title="Griffis at Lowery">Griffis at Lowery</a>
									</li>
									<li>
										<a href="#" title="Griffis Marston Lake">Griffis Marston Lake</a>
									</li>
									<li>
										<a href="#" title="Griffis North Metro">Griffis North Metro</a>
									</li>
									<li>
										<a href="#" title="Sagebrook">Sagebrook</a>
									</li>
									<li>
										<a href="#" title="Terracina">Terracina</a>
									</li>
									<li>
										<a href="#" title="Griffis Westminster Center">Griffis Westminster Center</a>
									</li>

								</ul>
							</li>
							<li>
								<a href="#" title="Austin, TX">Austin, TX</a>
								<ul>
									<li>
										<a href="#" title="Griffis Canyon Creek">Griffis Canyon Creek</a>
									</li>
									<li>
										<a href="#" title="Griffis at the Domain">Griffis at the Domain</a>
									</li>
									<li>
										<a href="#" title="Griffis on La Frontera">Griffis on La Frontera</a>
									</li>
									<li>
										<a href="#" title="Griffis Lakeline Station">Griffis Lakeline Station</a>
									</li>
									<li>
										<a href="#" title="Griffis Parmer Lane">Griffis Parmer Lane</a>
									</li>
									<li>
										<a href="#" title="Griffis SoCo Austin">Griffis SoCo Austin</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" title="Seattle Metro, WA">Seattle Metro, WA</a>
								<ul>
									<li>
										<a href="#" title="Griffis Belltown">Griffis Belltown</a>
									</li>
									<li>
										<a href="#" title="Griffis North Creek Bothell">Griffis North Creek Bothell</a>
									</li>
									<li>
										<a href="#" title="Griffis Seattle South">Griffis Seattle South</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" title="Las Vegas, NV">Las Vegas, NV</a>
								<ul>
									<li>
										<a href="#" title="Griffis Cornerstone Park">Griffis Cornerstone Park</a>
									</li>
									<li>
										<a href="#" title="Griffis Summerlin South">Griffis Summerlin South</a>
									</li>
								</ul>
							</li>
							
						</ul>
					</li>
					<li class="@@active2">
						<a href="about-giffis-residential.html" title="About">About</a>
						<ul>
							<li>
								<a href="why-live-with-us.html" title="Why Live With Us">Why Live With Us</a>
							</li>
							<li>
								<a href="leadership.html" title="Leadership">Leadership</a>
							</li>
							<li>
								<a href="green-living.html" title="Green Living">Green Living</a>
							</li>
							<li>
								<a href="news.html" title="News">News</a>
							</li>
							<li>
								<a href="loyalty-reward.html" title="Loyalty Rewards">Loyalty Rewards</a>
							</li>
						</ul>
					</li>
					<li class="@@active3">
						<a href="investors.html" title="Investors">Investors</a>
					</li>
					<li class="@@active4">
						<a href="careers.html" title="Careers">Careers</a>
					</li>
					<li class="@@active5">
						<a href="contact-us.html" title="Contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>