.contact-section{
	padding: 50px 0;
	.contact-form{
		max-width: 756px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;
		border-top: 1px solid $inputbordercolor;
		.row{
			border-left: 1px solid $inputbordercolor;
		
			margin: 0px;
			> *{
				padding: 0px;
			}
		}
		textarea{
			height: 130px;
		}
		button{
			background: none;
			&:hover{
				background-color: $btncolor1;
			}
		}
		.form-group{
			margin-bottom: 0px;
		}
		.form-control{
			border-left: none;
			border-top: none;
			box-shadow: none;
		}
		.btn{
			margin-top: 20px;
		}
		select{
			width: 100%;
		}
		.select2-container--default .select2-selection--single{
			border: 1px solid $inputbordercolor;
			border-radius: 0px;
			padding: 15px 20px;
			border-left: none;
			border-top: none;
			height: auto;
			span{
				padding: 0px;
			}
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered{
			color: $bodycolor;
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow{
			height: 21px;
			top: 50%;
			right: 20px;
			-ms-transform: translate(0%, -50%); 
				-webkit-transform: translate(0%, -50%); 
				transform: translate(0%, -50%);
			b{
				border: none;
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				font-size: 20px;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				margin-top: -9px;
				&:before {
					content: "\f107";
				}
			}
		}
	}
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $bodycolor;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $bodycolor;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $bodycolor;
}
:-moz-placeholder { /* Firefox 18- */
  color: $bodycolor;
}
