<div class="contact-section">
	
	<div class="container">
		<div class="text-center">
			<div class="small-container">
				<h2>Send a Message</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pretium risus, nec hendrerit sem. Morbi dapibus justo non velit interdum elementum.
				</p>
			</div>
		</div>
		<div class="contact-form">
			<div class="row">
				<div class="col-sm-6 form-group">
					<div class="form-control">
						<input type="text" placeholder="First Name*">
					</div>
				</div>
				<div class="col-sm-6 form-group">
					<div class="form-control">
						<input type="text" placeholder="Last Name*" >
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 form-group">
					<div class="form-control">
						<input type="text" placeholder="Email*" >
					</div>
				</div>
				<div class="col-sm-6 form-group">
					<div class="form-control">
						<input type="text" placeholder="Phone*" >
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 form-group">
					<div class="select-control">
						<select name="" id="">
							<option value="">What are you interested in?*</option>
							<option value="">What are you interested in?*</option>
						</select>
					</div>
				</div>
				<div class="col-sm-6 form-group">
					<div class="select-control">
						<select name="" id="">
							<option value="">Property Name*</option>
							<option value="">Property Name*</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="form-control">
						<textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
					</div>
				</div>
			</div>
			<div class="text-center">
				<button class="btn" title="Submit">Submit</button>
			</div>
		</div>
	</div>
</div>