.loyalty-rewards{
	padding: 50px 0;
	.loyalty-list{
		padding: 30px 0;
		.loyalty-item{
			margin-top: 35px;
			background: $bodybg;
			padding: 50px 50px 30px;
			position: relative;
			h3{
				color: $h2color;
				font-size: (18/$fsize) + em;
				padding-bottom: 10px;
				strong{
					display: block;
					color: $btncolor1;
					font-weight: 500;
					padding-top: 3px;
				}
			}
			.sticked{
				display: block;
				background: $stickcolor1;
				padding: 8px 10px 7px;
				text-transform: uppercase;
				font-size: (16/$fsize) + em;
				color: $wrapperbg;
				width: 140px;
				position: absolute;
				left: 50%;
				bottom: 100%;
				-ms-transform: translate(-50%, 50%); 
				-webkit-transform: translate(-50%, 50%); 
				transform: translate(-50%, 50%); 
				&:before{
					content: "";
					width: 0px;
					height: 0px;
					position: absolute;
					top: 100%;
					left: 0px;
					margin-top: -1px;
					border-top: 0px solid transparent;
					border-bottom: 12px solid transparent;
					border-left: 70px solid $stickcolor1;
				}
				&:after{
					content: "";
					margin-top: -1px;
					width: 0px;
					height: 0px;
					position: absolute;
					top: 100%;
					right: 0px;
					border-top: 0px solid transparent;
					border-bottom: 12px solid transparent;
					border-right: 70px solid $stickcolor1;
				}
				&.style2{
					background: $stickcolor2;
					&:before{
						border-left-color: $stickcolor2; 
					}
					&:after{
						border-right-color: $stickcolor2;
					}
				}
				&.style3{
					background: $stickcolor3;
					&:before{
						border-left-color: $stickcolor3; 
					}
					&:after{
						border-right-color: $stickcolor3;
					}
				}
				&.style4{
					background: $stickcolor4;
					&:before{
						border-left-color: $stickcolor4; 
					}
					&:after{
						border-right-color: $stickcolor4;
					}
				}
			}
		}
	}
}
.small-container.style2{
	font-size: (12/$fsize)+em;
}