<div class="loyalty-rewards">
	<div class="container">
		<div class="text-center">
			<div class="small-container">
				<h2>It’s About You Loyalty Rewards</h2>
				<p>
					We want you to renew your lease time and time again and be rewarded for your loyalty.  The It’s About You Loyalty Rewards are our way of saying thank you for choosing to live at a Griffis Residential community and continuing to call us home. Your time with us will entitle you to the following loyalty rewards:
				</p>
			</div>
		</div>
		<div class="loyalty-list text-center">
			<div class="row">
				<div class="col-sm-6">
					<div class="loyalty-item">
						<span class="sticked">SILVER</span>
						<h3>
							Years 2-3:
							<strong>$100 Off First Month’s Rent</strong>
						</h3>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="loyalty-item">
						<span class="sticked style2">GOLD</span>
						<h3>
							Years 4-5:
							<strong>$150 Off First Month’s Rent + Complimentary Connections*</strong>
						</h3>
						<p>
							*One month cable or utility bill on the house.
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="loyalty-item">
						<span class="sticked style3">PLATINUM</span>
						<h3>
							Years 6-9:
							<strong>$250 Off First Month’s Rent + Pamper Your Pad*</strong>
						</h3>
						<p>
							*A professional apartment cleaning.
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="loyalty-item">
						<span class="sticked style4">VIP</span>
						<h3>
							Years 10+:
							<strong>$500 Off First Month’s Rent + Your Choice of Full Apartment Paint, Carpet, or Vinyl Replacement</strong>
						</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<div class="small-container style2">
				<p>
					Fine Print: Rewards valid only when Griffis Residential owns and operates the community. Lease renewals must be a minimum of 12 to 15 months in duration. Gold Reward: Maximum $75.00 utility/cable rent credit. Non-monetary rewards may not be substituted for cash or rent reductions. When applicable, management provides housekeeping, carpet cleaning, full apartment paint, carpet or vinyl replacements. Rewards are valid only during applicable lease term. Valid during current lease term. Month-to month lease agreements do not qualify. Resident’s account and lease compliance must be in good standing. Subject to change. Loyalty Rewards are non-transferrable.
				</p>
			</div>
		</div>
	</div>
</div>