.denver-front-range-box{
	position: relative;
	display: table;
	width: 100%;
	background-color: $bodybg;
	&:after{
		clear: both;
	}
	.img-box{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 100%;
		width: (468*100/1218)+%;
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 50px;
		.btn{
			color: $wrapperbg;
			display: inline-block;
			border: 2px solid $wrapperbg;
			padding: 10px 25px;
			border-radius: 0px;
			margin-top: 15px;
			&:hover{
				background-color: $btncolor1;
			}
		}

	}
	h2{
		font-size: (35/$fsize) + em;
		color: $wrapperbg;
		font-weight: 700;
	}
	h3{
		font-size: (22/$fsize) + em;
		color: $fth3color;
	}
	hr {
		margin: 30px 0 40px;
		border-color: $hrcolor;
	}
	ul{
		list-style: none;
		padding: 0px;
		li{
			color: $searchlinkcolor2;
			a{
				text-decoration: none !important;
			}
		}
	}
	.content{
		width: (100-(468*100/1218))+%;
		float: right;
		padding: 60px 65px;
		
	}
	&.style-right{
		background-color: $menucolor;
		h3{
			color: $wrapperbg;
		}
		color: $wrapperbg;
		.content{
			float: left;

		}
		ul{
			li{
				color: $searchlinkcolor;
			}
		}
		.img-box{
			left: auto;
			right: 0px;
		}
	}
}
@media only screen and (max-width: 767px){
	.denver-front-range-box{
		.img-box{
			position: relative;
			width: 100%;
			height: 200px;
		}
		.content{
			width: 100%;
			padding: 30px 20px;
			float: none;
			height: auto !important;
		}
	}
}