<div class="denver-front-range-box">
	<div class="img-box text-center" style="background-image: url(assets/data/img7.jpg)">
		<div class="table">
			<div class="cell">
				<h2>
					Denver & Front Range, CO
				</h2>
				<a href="denver-front-range.html" title="View Communities" class="btn">View Communities</a>
			</div>
		</div>
		
	</div>
	<div class="content">
		<div class="table">
			<div class="cell">
				<h3>
					Lorem Ipsum Dolor
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pretium risus, nec hendrerit sem. Morbi dapibus justo non velit interdum elementum. Aenean in sapien a sapien blandit sodales. Praesent lacinia, sapien quis finibus imperdiet, felis ante faucibus urna.
				</p>
				<hr/>
				<div class="row">
					<div class="col-xs-6">
						<ul>
							<li>
								<a href="#" title="Griffis 3100 Pearl">Griffis 3100 Pearl</a>
							</li>
							<li>
								<a href="#" title="Griffis Belleview Station ">Griffis Belleview Station </a>
							</li>
							<li>
								<a href="#" title="Griffis Fitzsimons South">Griffis Fitzsimons South</a>
							</li>
							<li>
								<a href="#" title="Gateway Park">Gateway Park</a>
							</li>
							<li>
								<a href="#" title="The Highline on Cherry Creek">The Highline on Cherry Creek</a>
							</li>
							<li>
								<a href="#" title="Griffis Lafayette Station">Griffis Lafayette Station</a>
							</li>
							<li>
								<a href="#" title="Griffis Legacy Ridge">Griffis Legacy Ridge</a>
							</li>
						</ul>
					</div>
					<div class="col-xs-6">
						<ul>
							<li>
								<a href="#" title="Griffis at Lowery">Griffis at Lowery</a>
							</li>
							<li>
								<a href="#" title="Griffis Marston Lake">Griffis Marston Lake</a>
							</li>
							<li>
								<a href="#" title="Griffis North Metro">Griffis North Metro</a>
							</li>
							<li>
								<a href="#" title="Sagebrook">Sagebrook</a>
							</li>
							<li>
								<a href="#" title="Terracina">Terracina</a>
							</li>
							<li>
								<a href="#" title="Griffis Westminster Center">Griffis Westminster Center</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>