<div class="your-views text-center">
	<div class="row">
		<div class="col-sm-4">
			<div class="view-img" style="background-image:url(assets/data/img16.jpg)">
				<div class="table">
					<div class="cell">
						<div class="text">FPO</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="view-img" style="background-image:url(assets/data/img17.jpg)">
				<div class="table">
					<div class="cell">
						<div class="text">FPO</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="view-img" style="background-image:url(assets/data/img18.jpg)">
				<div class="table">
					<div class="cell">
						<div class="text">FPO</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>