.list-in-tab{
	padding:10px 0 40px;
	.row{
		margin-right: -5px;
		margin-left: -5px;
		> *{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.view-img{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 191px;

	}
	.info{
		background: $graybox;
		padding: 15px 25px;
		color: $wrapperbg;
		margin-bottom: 10px;
		p{
			color: $searchlinkcolor;
			padding-bottom: 0px;
		}
		ul{
			list-style: none;
			padding: 0px;
			li{
				position: relative;
				padding-left: 25px;
				padding-bottom: 8px;
				i{
					position: absolute;
					top: 2px;
					left: 0px;
					font-size: 20px;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.list-in-tab{
		.container{
			padding:0px;
		}
		.info{
			margin: 0px;
			background: $searchbg;
		}
		.panel-body{
			padding:0px;
		}
		.panel {
			border: none;
			margin-top: 1px !important;
			border-radius: 0px;
		}
		.panel-default>.panel-heading{
			background:$searchbg;
			color: $wrapperbg;
			h4{
				font-size: 14px;
			}
			border-radius: 0px;
			padding: 0px;
			a{
				display: block;
				text-decoration: none;
				padding: 15px;
				color: $wrapperbg;
				position: relative;
				&:before{
					content: "";
					width: 15px;
					height: 2px;
					position: absolute;
					right:15px;
					top: 50%;
					margin-top: -1px;
					background: $wrapperbg;
				}
				&:after{
					content: "";
					width: 2px;
					height: 14px;
					position: absolute;
					right:21px;
					display: none;
					top: 50%;
					margin-top: -7px;
					background: $wrapperbg;
				}
				&.collapsed{
					&:after{
						display: block;
					}
				}
			}
		}
		.panel-default>.panel-heading+.panel-collapse>.panel-body{
			border:none;
		}
	}

}