<div class="list-in-tab">
	<div class="container">
		<div class="row hidden-xs">
			<div class="col-sm-4">
				<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
					<hr/>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							3100 Pearl Street<br/>
							Boulder, CO 80301
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							303) 444-1900
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
					<hr/>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							3100 Pearl Street<br/>
							Boulder, CO 80301
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							303) 444-1900
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
					<hr/>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							3100 Pearl Street<br/>
							Boulder, CO 80301
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							303) 444-1900
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
					<hr/>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							3100 Pearl Street<br/>
							Boulder, CO 80301
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							303) 444-1900
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
					<hr/>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							3100 Pearl Street<br/>
							Boulder, CO 80301
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							303) 444-1900
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
					<hr/>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							3100 Pearl Street<br/>
							Boulder, CO 80301
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							303) 444-1900
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
					<hr/>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							3100 Pearl Street<br/>
							Boulder, CO 80301
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							303) 444-1900
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
					<hr/>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							3100 Pearl Street<br/>
							Boulder, CO 80301
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							303) 444-1900
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
					<hr/>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							3100 Pearl Street<br/>
							Boulder, CO 80301
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							303) 444-1900
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
					<hr/>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							3100 Pearl Street<br/>
							Boulder, CO 80301
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							303) 444-1900
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
					<hr/>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							3100 Pearl Street<br/>
							Boulder, CO 80301
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							303) 444-1900
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
					<hr/>
					<ul>
						<li>
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							3100 Pearl Street<br/>
							Boulder, CO 80301
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							303) 444-1900
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="mobile-list visible-xs">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Denver & Front Range, CO
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="row panel-body">
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
							<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
								Denver & Front Range, CO
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="row panel-body">
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
								Denver & Front Range, CO
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="row panel-body">
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>
								<div class="info">
									<h3>Griffis 3100 Pearl</h3>
									<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>
									<hr/>
									<ul>
										<li>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											3100 Pearl Street<br/>
											Boulder, CO 80301
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											303) 444-1900
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>	

</div>