<div class="your-views text-center we-views">
	<div class="row">
		<div class="col-sm-4">
			<div class="view-img" style="background-image:url(assets/data/img23.png)">
				<div class="table">
					<div class="cell">
						<div class="front"><p>We support renewable energy.</p></div>
						<div class="back">
							<p>Sometimes they’re simple, like needing a replacement key. Sometimes they’re more involved, like needing a sink unclogged. Whatever they are, we pride ourselves on our ability to understand that fulfilling your needs quickly will enhance your experience with us. Because we want our residents to celebrate their home, not just live in it.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="view-img" style="background-image:url(assets/data/img24.jpg)">
				<div class="table">
					<div class="cell">
						<div class="front"><p>We conserve energy and water.</p></div>
						<div class="back">
							<p>Sometimes they’re simple, like needing a replacement key. Sometimes they’re more involved, like needing a sink unclogged. Whatever they are, we pride ourselves on our ability to understand that fulfilling your needs quickly will enhance your experience with us. Because we want our residents to celebrate their home, not just live in it.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="view-img" style="background-image:url(assets/data/img25.jpg)">
				<div class="table">
					<div class="cell">
						<div class="front"><p>Our practices are eco-friendly.</p></div>
						<div class="back">
							<p>Sometimes they’re simple, like needing a replacement key. Sometimes they’re more involved, like needing a sink unclogged. Whatever they are, we pride ourselves on our ability to understand that fulfilling your needs quickly will enhance your experience with us. Because we want our residents to celebrate their home, not just live in it.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="view-img2 big-img parallax-window" data-parallax="scroll" data-image-src="assets/data/img26.jpg" >
	<div class="table">
		<div class="cell">
			<div class="container text-center">
				<p>Our communities promote environmentally-friendly living</p>
				
			</div>
		</div>
	</div>
</div>