.map-section .contact-map-info{
	padding: 25px 30px 25px 25px;
	color: $wrapperbg;
	h2{
		font-size: (22/$fsize) + em;
		padding-bottom: 10px;
		font-weight: 500;
	}
	h3{
		font-size: 1em;
		font-weight: 700;
		padding-bottom: 10px;
	}
	.social-link{
		background: $wrapperbg;
		color: $h2color;
		width: 25px;
		height: 25px;
		line-height: 26px;
		text-align: center;
		display: block;
		border-radius: 50%;
		&:hover{
			color: $wrapperbg;
			background: $h2color;
		}
	}
	hr{
		border-color: $menucolor;
	}
	.search-map{
		border: 2px solid $wrapperbg;
		padding: 8px 10px;
		position: relative;
		padding-right: 45px;
		input{
			border:none;
			padding: 0px;
			border: none;
			background: none;
			width: 100%;
		}
		.btn{
			width: 35px;
			position: absolute;
			height: 100%;
			right:0px;
			top:0px;
			padding: 0px;
			line-height: 31px;
			text-align: center;
			background: $btncolor1;
			color: $wrapperbg;
			font-size: (20/$fsize) +em;
			&:hover{
				color: $btncolor1;
				background: $wrapperbg;
				border-color: $wrapperbg;
			}
		}
	}
}