.internal-banner {
	.banner-section {
		.item-s {
			height: 427px;
			h1{
				font-size: (60/$fsize) + em;
				opacity: 1;
			}
		}
		.slick-dots{
			bottom: 40px;
		}
	}
}
@media only screen and (max-width: 767px){
	.internal-banner {
		.banner-section {
			.item {
				height: 213px;
				padding-bottom: 0px;

			}

		}
	}
}