.big-img-box{
	position: relative;
	background-color: $menucolor;
	display: table;
	width: 100%;
	&:before{
		background: $menucolor;
		width: (468*100/1218)+%;
		height: 30px;
		content: "";
		right:20px;
		top: 0px;
		position: absolute;
		z-index: 2;
	}
	&:after{
		background: $menucolor;
		width: (468*100/1218)+%;
		height: 30px;
		content: "";
		right:20px;
		bottom: 0px;
		position: absolute;
		z-index: 2;
	}
	&:after{
		clear: both;
	}
	.img-view{
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: (100-(468*100/1218))+%;
		z-index: 3;
		.text{
			color: $wrapperbg;
			opacity: .25;
			font-size: (157.21/$fsize) + em;
		}
	}

	a{
		color: $searchlinkcolor;
		.noactive{
			display: none;
		}
		.active{
			display: inline;
		}
		&.active{
			.noactive{
				display: inline;
			}
			.active{
				display: none;
			}
		}
	}
	.content{
		padding: 30px;
		width: (468*100/1218)+%;
		float: right;
		color: $wrapperbg;
		.container{
			max-width: 320px;
			float: left;
		}
		&.fix-height{
			height: 387px;
		}
		.more-content{
			display: none;
		}
		&.active{
			.more-content{
				display: block;
			}
		}
		
	}
	h3{
		font-size: (22/$fsize) + em;
		margin-bottom: 0px;
		span{
			display: block;	
			font-size: (14/22) + em;
			padding-top: 5px;
		}
	}
	p{
		padding: 10px 0;
	}
	.btn{
		border: 2px solid $wrapperbg;
		display: inline-block;
		padding: 7px 30px;
		margin-top: 30px;

		border-radius: 0px;
		color: $wrapperbg;
	}
	&.style-right{
		background-color: $wrapperbg;
		&:before{
			background-color: $wrapperbg;
			left: -30px;
			right: auto;
		}
		&:after{
			background-color: $wrapperbg;
			left: -30px;
			right: auto;
		}
		.img-view{
			left: auto;
			right: 0px;
		}
		.content{
			float: left;
			color: $bodycolor;
			.container{
				float: right;
			}
		}
		.btn{
			color: $btncolor1;
			border-color: $btncolor1;
			&:hover{
				color: $wrapperbg;
			}
		}
		h3{
			color: $h2color;
		}
	}
	&.leader-style{
		&:before{
			left: -30px;
			right: auto;
		}
		&:after{
			left: -30px;
			right: auto;
		}
		.img-view{
			left: auto;
			right: 0px;
		}
		.content{
			float: left;
			overflow: auto;
			.container{
				float: right;
			}
			position: relative;
			
			&.fix-height{
				min-height: 454px;
			}
		}
		&.style-right{
			&:before{
				background-color: $wrapperbg;
				left: auto;
				right: 20px;
			}
			&:after{
				background-color: $wrapperbg;
				left: auto;
				right: 20px;
			}
			.img-view{
				left: 0px;
				right: auto;
			}
			.content{
				float: right;
				.container{
					float: left;
				}
			}
		}
	}
	
}
@media only screen and (max-width: 767px){
	.big-img-box{
		.img-view{
			position: relative;
			width: 100%;
			height: 200px;
		}
		.content{
			float: none !important;
			width: 100%;
			padding: 30px 20px;
			height: auto !important;
			.table{
				height: auto !important;
			}
			.container{
				max-width: none;
				padding: 0px;
			}
		}
		&.style-right{
			.content{
				float: none;
				.container{
					float: none;
					max-width: none;

				}
			}
		}
	}
}