<div class="big-img-box">
	<div class="img-view" style="background-image:url(assets/data/img12.jpg)"></div>
	<div class="content fix-height">
		<div class="table">
			<div class="cell">
				<div class="container">
					<h3>Residents Lorem Ipsum</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pretium risus, nec hendrerit sem. Morbi dapibus justo non velit interdum elementum. Aenean in sapien a sapien blandit sodales. Praesent lacinia, sapien quis finibus imperdiet, felis ante faucibus urna.
					</p>
					<a class="btn" title="Why Live With Us" href="why-live-with-us.html">
						Why Live With Us
					</a>
				</div>
			</div>
		</div>
		
	</div>
</div>