*:focus,button:focus,input:focus,*,input,button,*:active,input:active,button:active,.bootstrap-select .btn:focus, option{
	outline: none !important;
	outline: 0px !important;
}
.form-control{
	height:auto;
}
img{
	max-width: 100%;
}
.table{
	display: table;
	height:100%;
	width:100%;
	margin: 0px;
	.cell{
		display: table-cell;
		vertical-align: middle;
		height: 100%;
	}
}
body{
	font-family: $font;
	margin:0px;
	padding:0px;
	font-size: $fsize + px;
	background: $bodybg;
	font-weight: 500;
	color: $bodycolor;
}
.wrapper{
	background: $wrapperbg;
	overflow: hidden;
}
.container{
	max-width: 980px;
	width: auto;
}
.small-container{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.btn{
	border: 2px solid $btncolor1;
	border-radius: 0px;
	color: $btncolor1;
	padding: 8px 35px;
	&:hover, &:focus{
		background: $btncolor1;
		color: $wrapperbg;
	}
}

h2{
	font-size: (22/$fsize) + em;
	margin: 0px;
	font-weight: 500;
	color: $h2color;
	padding-bottom: 10px;
}
@media only screen and (max-width: 767px){

	body{
		 font-size: 11px;
	}
}
h3{
	margin: 0px;
}
p{
	margin: 0px;
	padding: 10px 0;
	
}
a {
	color: inherit;
	&:hover{
		color: $btncolor1;
	}
}
.form-control{
	background: $wrapperbg;
	height: auto;
	border-radius: 0px;
	padding: 15px 20px;
	border-color: $inputbordercolor;
	.form-control{
		padding: 0px;
		border:none;
	}
	&.error{
		border-color: red;
	}
	input, textarea{
		width: 100%;
		height: auto;
		border: none;
		background: none;
	}
	textarea{
		resize: none;
		overflow: auto;
	}

}