$font: 'Raleway', sans-serif;
$fsize: 14;

//colors

$bodybg: #f0f0f0;
$wrapperbg: #fff;
$headerbg: $wrapperbg;
$bodycolor: #7a7979;
$menuactive: #F1F1F1;

$bannernavcolor: #a75a29;

$menucolor: #5F5C5D;
$menubordercolor: #f2f2f2;
$menusubbordercolor: #e4e4e4;

$bannerheading: $wrapperbg;
$searchbg: rgba(35,31,32,.85);
$searchbg2: rgba(35,31,32,.43);
$searchlabelcolor: $wrapperbg;
$btncolor1: #A75928;
$searchlinkcolor2: #918C10;
$searchlinkcolor: #cac38b;
$searchlinkbordercolor: #736f70;

$h2color: #231F20;

$footerlinkbg: #f0f0f0;

$fth3color: $h2color;
$pinft: #5f5c5d;
$footerbtncolor: #716e6f;

$searchhover1: #737071;

$hrcolor: #e4e4e4;

$borderselect: #686566;
$graybox: #737373;
$blue: #003B4C;

$blue2: rgba(119, 152, 160, .87);

$stickcolor1: #b1b1b1;
$stickcolor2: #b4a152;
$stickcolor3: #6b6b6b;
$stickcolor4: $bannernavcolor;

$inputbordercolor: #dddddd;

$menubtncolor: #4a4f55;

$topinfocolor: #e2e2e2;