.footer-links {
	background-color: $footerlinkbg;
	padding: 43px 0 35px;
	ul{
		list-style: none;
		margin: 0px;
		padding: 0px;
		li{
			font-size: (11/$fsize) + em;
			padding-bottom: 5px;
			color: $bodycolor;
			font-weight: 500;
			a{
				color: inherit;
				text-decoration: none !important;
				&:hover{
					color: $btncolor1;
				}
			}
			&.active{
				> a{
					color: $btncolor1;
				}
			}
			ul{
				padding-top: 5px;
				li{
					font-size: 1em;

				}
			}
			
		}
	}
	ul.first-nav {
		> li {
			font-size: (11/$fsize) + em;
			color: $fth3color;
			font-weight: 700;
			vertical-align: top;
			line-height: 1.2em;
			> a {
				color: inherit;

				&:hover{
					color: $btncolor1;
				}
			}
			&.active{
				> a{
					color: $btncolor1;
				}
			}
		}
	}
	h3 {
		font-size: (11/$fsize) + em;
		color: $fth3color;
		font-weight: 700;
		line-height: 1.2em;
		> a {
			color: inherit;
			text-decoration: none !important;
			&:hover{
				color: $btncolor1;
			}
		}
		&.active{
			> a{
				color: $btncolor1;
			}
		}
	}
	p{
		font-size: (11/$fsize) + em;
		padding-top: 5px;

	}
	.social-link{
		background: $bodycolor;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		line-height: 24px;
		text-align: center;
		display: block;
		margin-top: 8px;
		i{
			color: $wrapperbg;
		}
		&:hover{
			background-color: $btncolor1;
		}
	}
}
.footer-logo img{
	height: 22px;
}
.pin-footer{
	// position: fixed;
	// bottom: 0px;
	// left: 0px;
	background: $pinft;
	// width: 100%;
	// z-index: 99;

}
.footer-copyright{
	padding:0 15px;
	color: $wrapperbg;
	font-size: (10/$fsize) + em;
	a{
		color: inherit;
		text-decoration: underline;
		&:hover{
			color: $btncolor1;
		}
	}
	.pull-left{
		padding-left: 20px;
		padding-right: 20px;
		.icon-item{
			margin-left: 10px;
			float: left;
			font-size: 14px;
			position: relative;
			text-decoration: none;
			top:-3px;
			&:hover{
				color: $btncolor1;
			}
		}
	}
	.footer-btn{
		background-color: $footerbtncolor;
		display: block;
		padding:10px;

		i{
			margin-right: 7px;
		}
		margin-left: 1px;
		text-decoration: none !important;
		&:hover{
			background-color: $btncolor1;
			color: $wrapperbg;
		}
	}
}
@media only screen and (max-width: 768px){
	.footer-links {
		padding-top: 30px;
		padding-left: 15px;
		padding-right: 15px;

		.footer-logo{
			text-align: center;
			padding-bottom: 20px;
			border-bottom: 1px solid $inputbordercolor;
			margin-bottom: 25px;
			margin-left: -15px;
			margin-right: -15px;
			img{
				max-width: 130px;
			}
		}
		ul.first-nav {
			margin-left: -15px;
			margin-right: -15px;
			> li {
				margin-bottom: 10px;
			}

		}
	}
	.footer-copyright{
		padding-top: 10px;

		p{
			padding: 3px 0px;
		}
		.footer-btn{
			margin-top: 15px;
			width: 50%;
			margin: 0px;
			text-align: center;
			border-left: 1px solid $pinft;
		}
		.pull-left{
			float: none !important;
			text-align: center;
			.icon-item{
				float: none;
			}
		}
	}
}
@media only screen and (max-width: 500px){
	.footer-links {

		
	}
}