<div class="footer-section">
	<div class="footer-links">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="footer-logo">
						<a href="index.html" title="Griffis Residential">
							<img src="assets/images/footer-logo.svg" alt="Griffis Residential">
						</a>
					</div>
				</div>
				<div class="col-sm-7">
					<ul class="first-nav row">
						<li class="col-sm-3 col-xs-6">
							<a href="communities.html" title="Communities">Communities</a>
							<ul>
								<li><a href="denver-front-range.html" title="Denver & Front Range, CO">Denver & Front Range, CO</a></li>
								<li><a href="#" title="Austin, TX">Austin, TX</a></li>
								<li><a href="#" title="Seattle Metro, WA">Seattle Metro, WA</a></li>
								<li><a href="#" title="Las Vegas, NV">Las Vegas, NV</a></li>
							</ul>
						</li>
						<li class="col-sm-3 col-xs-6">
							<a href="about-giffis-residential.html" title="About">About</a>
							<ul>
								<li><a href="why-live-with-us.html" title="Why Live With Us">Why Live With Us</a></li>
								<li><a href="leadership.html" title="Leadership">Leadership</a></li>
								<li><a href="green-living.html" title="Green Living">Green Living</a></li>
								<li><a href="news.html" title="News">News</a></li>
								<li><a href="loyalty-reward.html" title="Loyalty Rewards">Loyalty Rewards</a></li>
							</ul>
						</li>
						<li class="col-sm-3 col-xs-6">
							<a href="investors.html" title="Investors">Investors</a>
						</li>
						<li class="col-sm-3 col-xs-6">
							<a href="careers.html" title="Careers">Careers</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-3 col-xs-6">
					<h3><a href="contact-us.html" title="Contact">Contact</a></h3>
					<p>
						6400 South Fiddler's Green Circle, Suite 1200
						Greenwood Village, CO 80111
					</p>
					<div class="row">
						<div class="col-md-6 col-xs-8">
							<p>
								<strong>P</strong> <a href="tel:(303) 268-2121">(303) 268-2121</a><br/>
								<strong>F</strong> (720) 524-5700
							</p>
						</div>
						<div class="col-md-6 col-xs-4">
							<a href="#" title="Facebook" target="_blank" class="social-link">
								
								<i class="fa fa-facebook"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright pin-footer">
		<div class="row">
			<div class="pull-left">
				<p>
					Copyright 2017 Griffis Residential. All rights reserved. <br class="visible-xs" /><a href="#" title="Design by Studio">Design by Studio</a>. <a href="#" title="Privacy Policy">Privacy Policy</a>.
				</p>
			</div>
			<div class="pull-left">
				<p>
					<a href="#" class="icon-item">
						<i class="fa fa-home" aria-hidden="true"></i>
					</a>
					<a href="#" class="icon-item">
						<i class="fa fa-wheelchair" aria-hidden="true"></i>
					</a>
				</p>
				
			</div>
			<a href="#" class="footer-btn pull-right" title="Investor Login"><i class="fa fa-lock" aria-hidden="true"></i>Investor Login</a>
			<a href="#" class="footer-btn pull-right" title="Team Login"><i class="fa fa-lock" aria-hidden="true"></i>Team Login</a>
			
		</div>
		
		
	</div>
</div>