.news-section{
	padding: 50px 0;
	a{
		color: $searchlinkcolor2;
	}
	.selectboxs-area{
		background-color: $menucolor;
		margin-top: 25px;
		padding-left: 140px;
		position: relative;
		max-width: 345px; 
		margin-right: auto;
		margin-left: auto;
		.row{
			margin: 0px;
			> *{
				border-left: 1px solid $borderselect;
			}
		}
		label{
			position: absolute;
			left:15px;
			top:0px;
			line-height: 24px;
			color: $wrapperbg;
			font-size: (12/$fsize) + em;
			margin: 0px;
			font-weight: 500;
		}
		select{
			width: 100%;
		}
		.select2-container--default .select2-selection--single{
			background:none;
			border:none;
			height: 24px;
			font-size: (12/$fsize) + em;
			span{
				color: $searchlinkcolor;
				line-height: 25px;
				padding-left: 0px;
			}
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow{
			height: 21px;
			b{
				border: none;
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				font-size: 20px;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				margin-top: -9px;
				&:before {
					content: "\f107";
				}
			}
		}
	}
	.news-list {
		padding-top: 30px;
		.news-item {
			margin-top: 30px;
			position: relative;
			background: $bodybg;
			padding: 34px;
			.date{
				display: block;
				background: $searchlinkcolor2;
				padding: 8px 25px 7px;
				text-transform: uppercase;
				font-size: (16/$fsize) + em;
				color: $wrapperbg;
				position: absolute;
				left: 50%;
				bottom: 100%;
				-ms-transform: translate(-50%, 50%); 
				-webkit-transform: translate(-50%, 50%); 
				transform: translate(-50%, 50%); 
			}
		}
		.btn {
			margin-top: 30px;
			color: $btncolor1;
			&:hover{
				color: $wrapperbg;
			}
		}
		h3{
			font-size: (18/$fsize) + em;
			color: $h2color;
			line-height: (24/18) +em;
		}
	}
}
