<div class="news-section">
	<div class="container">
		<div class="text-center">
			<div class="small-container">
				<h2>Lorem Ipsum Dolor</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pretium risus, nec hendrerit sem. Morbi dapibus justo non velit interdum elementum.
				</p>
				<div class="selectboxs-area">
					<label>Refine your search</label>
					<div class="row">
						<div class="col-sm-12">
							<select>
								<option>Year</option>
								<option>Year</option>
								<option>Year</option>
							</select>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="news-list">
			<div class="row">
				<div class="col-sm-6">
					<div class="news-item">
						<span class="date">DEC. 13, 2016</span>
						<h3>Griffis Residential acquires Monterey Apartments</h3>
						<p>
							Griffis Residential, a Denver-based multifamily investment and management firm, announced today that it has acquired Monterey Apartments, a 332-unit Class-A multifamily community located along the Denver foothills west of Littleton, Colorado. Griffis Marston Lake, built in 2003, offers contemporary garden-style… <a href="#" title="Read More">Read More</a>
						</p>
					</div>
					
				</div>
				<div class="col-sm-6">
					<div class="news-item">
						<span class="date">DEC. 13, 2016</span>
						<h3>Griffis Residential acquires Monterey Apartments</h3>
						<p>
							Griffis Residential, a Denver-based multifamily investment and management firm, announced today that it has acquired Monterey Apartments, a 332-unit Class-A multifamily community located along the Denver foothills west of Littleton, Colorado. Griffis Marston Lake, built in 2003, offers contemporary garden-style… <a href="#" title="Read More">Read More</a>
						</p>
					</div>
					
				</div>
				<div class="col-sm-6">
					<div class="news-item">
						<span class="date">DEC. 13, 2016</span>
						<h3>Griffis Residential acquires Monterey Apartments</h3>
						<p>
							Griffis Residential, a Denver-based multifamily investment and management firm, announced today that it has acquired Monterey Apartments, a 332-unit Class-A multifamily community located along the Denver foothills west of Littleton, Colorado. Griffis Marston Lake, built in 2003, offers contemporary garden-style… <a href="#" title="Read More">Read More</a>
						</p>
					</div>
					
				</div>
				<div class="col-sm-6">
					<div class="news-item">
						<span class="date">DEC. 13, 2016</span>
						<h3>Griffis Residential acquires Monterey Apartments</h3>
						<p>
							Griffis Residential, a Denver-based multifamily investment and management firm, announced today that it has acquired Monterey Apartments, a 332-unit Class-A multifamily community located along the Denver foothills west of Littleton, Colorado. Griffis Marston Lake, built in 2003, offers contemporary garden-style… <a href="#" title="Read More">Read More</a>
						</p>
					</div>
					
				</div>
				<div class="col-sm-6">
					<div class="news-item">
						<span class="date">DEC. 13, 2016</span>
						<h3>Griffis Residential acquires Monterey Apartments</h3>
						<p>
							Griffis Residential, a Denver-based multifamily investment and management firm, announced today that it has acquired Monterey Apartments, a 332-unit Class-A multifamily community located along the Denver foothills west of Littleton, Colorado. Griffis Marston Lake, built in 2003, offers contemporary garden-style… <a href="#" title="Read More">Read More</a>
						</p>
					</div>
					
				</div>
			</div>
			<div class="text-center">
				<a href="#" title="View More" class="btn">View More</a>
			</div>
		</div>
	</div>
</div>