.banner-section {
	.item-s{
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100%;
		height: 481px;
		position: relative;
		h1{
			color:$bannerheading;
			font-size: (157.21/$fsize)+em;
			opacity: 0.7;
			margin:0px;
		}
		.container{
			position: relative;
			z-index: 2;
		}
	}
	.carousel-indicators{
		bottom: 90px;
		.active{
			background-color: $bannernavcolor;
		}
	}
	.view-video{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 481px;
		z-index: 1;
		overflow: hidden;
		iframe{
			left: 50%;
			-ms-transform: translate(-50%, -50%); 
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%);
			width: 2000px !important;
			height: 1000px !important;
			position: absolute;
			top:50%;
		}
		&:before{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			z-index: 1;
			content: "";
		}
	}
}
.banner-space{
	height: 60px;
}
.slick-dots{
	list-style: none;
	padding: 0px;
	position: absolute;
	left: 50%;
	bottom: 90px;
	-ms-transform: translate(-50%, 0%); 
	-webkit-transform: translate(-50%, 0%); 
	transform: translate(-50%, 0%); 
	li{
		width: 12px;
		height: 12px;
		float: left;
		border-radius: 50%;
		border: 1px solid #fff;
		margin: 0 5px;
		cursor: pointer;

		&.slick-active{
			background-color: $bannernavcolor;
		}
		button{
			display: none;
		}
	}
}

@media only screen and (max-width: 767px){
	.banner-section {
		.item{
			height: 456px;
			// h1{
			// 	font-size: (91.99/$fsize) + em;
			// }
			padding-bottom: 100px;
		}
		.slick-dots{
			display: none;
		}
	}
	.top-info{
		background: $topinfocolor;
		.row{
			margin:0 -1px;
			> *{
				padding-left: 1px;
				padding-right: 1px;
			}
		}
		a{
			display: block;
			background: $footerlinkbg;
			color: $pinft;
			padding: 5px;
			text-align: center;
			text-decoration: none;
			i{
				margin-right: 10px;
				font-size: 18px;
			}
		}
	}
}