<div class="banner-space"></div>
<div class="visible-xs top-info">
	<div class="row">
		<div class="col-xs-6">
			<a href="#" title="(303) 268-2121"><i class="fa fa-phone" aria-hidden="true"></i> (303) 268-2121</a>
			
		</div>
		<div class="col-xs-6">
			<a href="#" title="Get Directions"><i class="fa fa-map-marker" aria-hidden="true"></i> Get Directions</a>
		</div>
	</div>
</div>
<div class="banner-section">
	<div class="item-s " style="background-image:url(assets/data/@@key1.jpg)">
		<div class="table">
			<div class="cell">
				<div class="container text-center">
					<h1>@@text</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="item-s " style="background-image:url(assets/data/@@key1.jpg)">
		<div class="view-video">
			<iframe width="100%" height="100%" src="https://www.youtube.com/embed/X-dMOvEOQiM" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="table">
			<div class="cell">
				<div class="container text-center">
					<h1>@@text</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="item-s " style="background-image:url(assets/data/@@key1.jpg)">
		<div class="table">
			<div class="cell">
				<div class="container text-center">
					<h1>@@text</h1>
				</div>
			</div>
		</div>
	</div>
</div>