.search-section {
	background: $searchbg;
	position: relative;
	.search-box {
		background: $searchbg;
		position: absolute;
		bottom: 100%;
		left: 0px;
		width: 100%;
		.input-row {
			padding: 15px 35px 15px 225px;
			position: relative;
			label {
				color: $searchlabelcolor;
				font-weight: 300;
				font-size: (26/$fsize) + em;
				position: absolute;
				top: 20px;
				left: 27px;
				margin:0px;
			}
			.input-search {
				background: $searchlabelcolor;
				padding: 13px 200px 13px 11px;
				position: relative;
				input {
					border: none;
					background: none;
					box-shadow: none;
					padding:0px;
					margin:0px;
					width: 100%;
				}
				button {
					position: absolute;
					top: 0px;
					right: 0px;
					height: 100%;
					width: 190px;
					border:none;
					background: $btncolor1;
					color: $searchlabelcolor;
				}
			}
		}
	}
	ul {
		list-style: none;
		padding:0px;
		margin:0px;
		li {
			
			font-size: (12/$fsize) + em;
			color: $searchlinkcolor;
			border-left: 1px solid $searchlinkbordercolor;
			&:hover {
				background-color: $searchhover1;

			}
			a{
				padding: 10px;
				display: block;
				color: inherit;
				text-decoration: none !important;
			}
			&:first-child {
				border: none;
			}
		}
	}
}
@media only screen and (max-width: 832px){
	.search-section {
		ul{
			li{
				a{
					padding-right: 0px;
					padding-left: 0px;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.search-section {
		margin-left: -15px;
		margin-right: -15px;
		.search-box {
			.input-row {
				padding: 15px 18px 20px;
				label{
					position: relative;
					left: auto;
					top: auto;
					// font-size: (22/$fsize) + em;
					text-align: center;
					display: block;
					padding-bottom: 15px;
				}
				.input-search {
					padding-right: 45px;
					padding-bottom: 10px;
					padding-top: 8px;
					input{
						// font-size: (11/$fsize) +em;
					}
					button{
						font-size: 0px;
						width: 35px;

						&:before {
							font: normal normal normal 14px/1 FontAwesome;
							content: "\f002";
							font-size: 20px;
							display: inline-block;

							text-rendering: auto;

							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
						}
					}
				}
			}
		}
		ul{
			li{
				span{
					display: none;
				}
			}
		}

	}
	
}