<div class="container">
	<div class="search-section">
		<div class="search-box">
			<div class="input-row">
				<label for="searchbar">It’s about you.</label>
				<div class="input-search">
					<input type="text" placeholder="Enter a city, state, ZIP code, or property name" id="searchbar" />
					<button>Search Apartments</button>
				</div>
			</div>
		</div>
		<ul class="row text-center">
			<li class="col-xs-3">
				<a href="denver-front-range.html" title="Denver & Front Range, CO"><span>Denver & Front Range, </span>CO</a>
			</li>
			<li class="col-xs-3">
				<a href="denver-front-range.html" title="Austin, TX"><span>Austin, </span>TX</a>
			</li>
			<li class="col-xs-3">
				<a href="denver-front-range.html" title="Seattle Metro, WA"><span>Seattle Metro, </span>WA</a>
			</li>
			<li class="col-xs-3">
				<a href="denver-front-range.html" title="Las Vegas, NV"><span>Las Vegas, </span>NV</a>
			</li>
		</ul>
	</div>
</div>