.view-map-list{
	padding: 40px 0 0;
	.small-container{
		max-width: 640px;
		margin: 0 auto;
		padding-bottom: 30px;
	}
	.select-map-list{
		display: inline-block;
		background-color: $bannernavcolor;
		margin-top: 15px;
		a{
			display: inline-block; 
			padding: 5px 25px;
			border: 2px solid $bannernavcolor;
			text-decoration: none !important;
			
			background-color: $bannernavcolor;
			color: $wrapperbg;
			border-left: none;
			&:first-child{
				border-left: 2px solid $bannernavcolor;
			}
			
			&:hover, &.active {
				background-color: $wrapperbg;
				color: $bannernavcolor;
			}
			i{
				margin-right: 10px;
			}
		}

	}
	.selectboxs-area{
		background-color: $menucolor;
		padding-left: 140px;
		position: relative;
		.row{
			margin: 0px;
			> *{
				border-left: 1px solid $borderselect;
			}
		}
		label{
			position: absolute;
			left:15px;
			top:0px;
			line-height: 24px;
			color: $wrapperbg;
			font-size: (12/$fsize) + em;
			margin: 0px;
			font-weight: 500;
		}
		select{
			width: 100%;
		}
		.select2-container--default .select2-selection--single{
			background:none;
			border:none;
			height: 24px;
			font-size: (12/$fsize) + em;
			span{
				color: $searchlinkcolor;
				line-height: 25px;
				padding-left: 0px;
			}
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow{
			height: 21px;
			b{
				border: none;
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				font-size: 20px;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				margin-top: -9px;
				&:before {
					content: "\f107";
				}
			}
		}
	}
	
}
.tab-item{
	position: fixed;
	bottom: 200%;
	left: 0px;
	width: 100%;
	&.active{
		position: relative;
		bottom: auto;
		left: auto;
	}
}
@media only screen and (max-width: 767px){
	.select-map-list{
		display: inline-block !important;
	}
	.view-map-list{
		.small-container{
			padding-bottom: 0px;
		}
	}
}