<div class="view-map-list">
	<div class="container">
		<div class="text-center small-container">
			<h2>Lorem Ipsum Dolor Sit Amet</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pretium risus, nec hendrerit sem. Morbi dapibus justo non velit interdum elementum. 
			</p>
			<div class="select-map-list @@home1">
				<a href="javascript:showtab('#map-tab')" class="active" id="map-view" title="Map View"><i class="fa fa-map-marker" aria-hidden="true"></i> Map View</a><a href="javascript:showtab('#list-tab')" id="list-view" title="List View"><i class="fa fa-list" aria-hidden="true"></i> List View</a>
			</div>

		</div>
		<div class="selectboxs-area hidden-xs @@home2">
			<label>Refine your search</label>
			<div class="row">
				<div class="col-sm-3">
					<select>
						<option>City</option>
					</select>
				</div>
				<div class="col-sm-3">
					<select>
						<option>Bedroom</option>
					</select>
				</div>
				<div class="col-sm-3">
					<select>
						<option>
							Bathroom
						</option>
					</select>
				</div>
				<div class="col-sm-3">
					<select>
						<option>
							Price Range
						</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<!-- Map in Tab section -->
	<div id="map-tab" class="tab-item active">
		@@include('../map-in-tab/view.html')
	</div>
	<!--end-->
	<!-- List in Tab section -->
	<div id="list-tab" class="tab-item ">
		@@include('../list-in-tab/view.html')
	</div>
	<!--end-->
</div>	
