.text-over-img{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: (23/$fsize) + em;
	position: relative;
	padding:50px;
	
	&.pin-height{
		min-height: 535px;
	}
	.iconsvg{
		width: 98px;
	}
	&:before{
		background: $wrapperbg;
		opacity: .8;
		position: absolute;
		top: 0px;
		left: 0px; 
		height: 100%;
		width: 100%;
		z-index: 1;
		content: "";
	}
	.container{
		position: relative;
		z-index: 2;
		max-width: 450px;

	}
}
.parallax-window {
    background: transparent;
}
@media only screen and (max-width: 767px){
	.text-over-img{
		&.pin-height{
			min-height: 275px;
		}
	}
}