
<div class="text-over-img text-center pin-height parallax-window" data-parallax="scroll" data-image-src="assets/data/img15.jpg" >
	<div class="table">
		<div class="cell">
			<div class="container">
				<p>
					<img class="iconsvg" src="assets/images/icon1.svg">
				</p>

				<p>
					Lorem ipsum dolor sit amet consectetur adipiscing
				</p>
			</div>
		</div>
	</div>
</div>