.map-section {
	.map-box {
		height: 481px;
		
	}
	position: relative;
	z-index: 1;
	.map-right-list {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		
		width: 322px;
		-webkit-transition: right .5s; 
		transition: right .5s;
		&.goleft{
			right: -322px;
		}
		&.not-list{
			background: $searchbg;
			.title{
				background: none;
			}
		}
		ul {
			list-style: none;
			padding: 0px;
			margin: 0px;
			li{
				position: relative;
				.info{
					position: absolute;
					bottom: 0px;
					left: 0px;
					width: 100%;
					background: url(../images/shadow.png) repeat-x 0 0;
					color: $wrapperbg;
					padding: 15px;
					h3{
						font-size: (22/$fsize) + em;

					}
					p{
						font-size: (12/$fsize) + em;
						color: $searchlinkcolor;
					}
				}
			}
		}
		.title{
			padding: 20px;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			z-index: 2;
			background: $searchbg;
		}
		h2{
			color: $wrapperbg;
			font-size: 1em;
			padding: 0px;
			
		}
		.map-list-items{
			position: absolute;
			height: 100%;
			width: 100%;
			overflow: auto;
			z-index: 1;
			padding-top: 55px;
		}
		.show-list{
			background: $wrapperbg;
			
			font-size: (10.5/$fsize) + em;
			color: $h2color;
			position: absolute;
			right: 100%;
			top: 0px;
			margin: 10px;
			width: 80px;
			cursor: pointer;
			padding: 5px 10px;
			.noactive{
				display: none;
				i{
					margin-right: 5px;
				}
			}
			&.active{
				.noactive{
					display: block;
				}
				.active{
					display: none;
				}
			}
			.active{
				i{
					margin-left: 5px;
				}
			}
			a{
				text-decoration: none !important;
				display: block;
				padding:10px;
			}
			

		}

	}
}
.style{
	> div {
		
		> div {
			
			> div:first-child{
				display: none;
			}
		}
	}
}
.jspVerticalBar{
	width: 0px;
}
.jspPane{width: 100% !important}
.gm-style-iw{
	margin-left: 12px;
	margin-top: 30px;
}
.info_content{
	width: 214px;
	height: 286px;
	overflow: visible;
	position: relative;
	&:before{
		border-top: 30px solid $graybox;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: "";
		width: 0px;
		height: 0px;
		position: absolute;
		bottom: 0%;
		left: 50%;
		margin-left: -10px;
	}
	.view-img{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 181px;

	}

	.info{
		font-size: 9px;
		background: $graybox;
		padding: 10px 10px;
		color: $wrapperbg;
		margin-bottom: 10px;
		h3{
			font-size: 14px;
		}
		p{
			color: $searchlinkcolor;
			padding-bottom: 0px;
			padding-top: 0;
		}
		ul{
			list-style: none;
			padding: 0px;
			margin-top: 10px;
			margin-bottom: 0px;
			li{
				position: relative;
				padding-left: 15px;
				padding-bottom: 3px;
				i{
					position: absolute;
					top: 2px;
					left: 0px;
					font-size: 12px;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px){
	.select-map-list{
		display: inline-block;
		background-color: $bannernavcolor;
		margin-top: 0px;
		margin-bottom: 30px;
		a{
			display: inline-block;
			padding: 5px 25px;
			background-color: $wrapperbg;
			color: $bannernavcolor;
			border: 2px solid $bannernavcolor;
			text-decoration: none !important;
			&.active{
				background-color: $bannernavcolor;
				color: $wrapperbg;
			}
			&:hover{
				background-color: $wrapperbg;
				color: $bannernavcolor;
			}
			i{
				margin-right: 10px;
			}
		}

	}
	.map-right-list{
		display: none;
	}
}