
<div class="map-section">
	<div class="map-box " id="map"></div>
	<script>
		function myMap() {
			var map;
			var bounds = new google.maps.LatLngBounds();
			var mapOptions = {
				mapTypeId: 'roadmap',
				scrollwheel: false
			};

    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map"), mapOptions);
    map.setTilt(45);

			// Multiple Markers
			var markers = [
			['London Eye, London', 51.503454,-0.119562],
			['Palace of Westminster, London', 51.499633,-0.124755]
			];
			// Info Window Content
			var infoWindowContent = [
			['<div class="info_content">' +
			'<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>'
				+'<div class="info">'
					+'<h3>Griffis 3100 Pearl</h3>'
					+'<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>'
					
					+'<ul>'
						+'<li>'
							+'<i class="fa fa-map-marker" aria-hidden="true"></i>'
							+'4400 South Monaco Street'
						+'</li>'
						+'<li>'
							+'<i class="fa fa-phone" aria-hidden="true"></i>'
							+'303) 444-1900'
						+'</li>'
					+'</ul>'
				+'</div></div>'],
			['<div class="info_content">' +
			'<div class="view-img" style="background-image:url(assets/data/img11.jpg)"></div>'
				+'<div class="info">'
					+'<h3>Griffis 3100 Pearl</h3>'
					+'<p>1 & 2 Bedrooms  |  Starting at $X,XXX</p>'
					
					+'<ul>'
						+'<li>'
							+'<i class="fa fa-map-marker" aria-hidden="true"></i>'
							+'4400 South Monaco Street'
						+'</li>'
						+'<li>'
							+'<i class="fa fa-phone" aria-hidden="true"></i>'
							+'303) 444-1900'
						+'</li>'
					+'</ul>'
				+'</div></div>']
			];
			// Display multiple markers on a map
			var infoWindow = new google.maps.InfoWindow(), marker, i;
			var image = 'http://freearea.hdint.net/Griffis/assets/images/mark1.png';
			for( i = 0; i < markers.length; i++ ) {
				var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
				bounds.extend(position);
				marker = new google.maps.Marker({
					position: position,
					map: map,
					title: markers[i][0],
					animation: google.maps.Animation.DROP,
					icon: image
					// icon: image'http://localhost:9999/assets/images/mark1.png'
				});

        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
        	return function() {
        		infoWindow.setContent(infoWindowContent[i][0]);
        		infoWindow.open(map, marker);
        		$('.info_content').parent().parent().parent().parent().parent().parent().addClass('style')
        	}
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }
var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(14);
        google.maps.event.removeListener(boundsListener);
    });
}
</script>

<div class="map-right-list ">
	<div class="show-list">
		<span class="active">Hide List <i class="fa fa-angle-right"></i></span>
		<span class="noactive"> <i class="fa fa-angle-left"></i> Show List</span>
	</div>
	<div class="title">
		<h2>Denver & Front Range, CO</h2>
	</div>
	<div class="map-list-items">
		<ul>
			<li>
				<img src="assets/data/img1.png" alt="">
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>
						1 & 2 Bedrooms  |  Starting at $X,XXX
					</p>
				</div>
			</li>
			<li>
				<img src="assets/data/img2.jpg" alt="">
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>
						1 & 2 Bedrooms  |  Starting at $X,XXX
					</p>
				</div>
			</li>
			<li>
				<img src="assets/data/img3.jpg" alt="">
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>
						1 & 2 Bedrooms  |  Starting at $X,XXX
					</p>
				</div>
			</li>
			<li>
				<img src="assets/data/img1.png" alt="">
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>
						1 & 2 Bedrooms  |  Starting at $X,XXX
					</p>
				</div>
			</li>
			<li>
				<img src="assets/data/img2.jpg" alt="">
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>
						1 & 2 Bedrooms  |  Starting at $X,XXX
					</p>
				</div>
			</li>
			<li>
				<img src="assets/data/img3.jpg" alt="">
				<div class="info">
					<h3>Griffis 3100 Pearl</h3>
					<p>
						1 & 2 Bedrooms  |  Starting at $X,XXX
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
</div>