<div class="big-img-box style-right leader-style">
	<div class="img-view" style="background-image:url(assets/data/img22.jpg)"></div>
	<div class="content fix-height">
		<div class="table">
			<div class="cell">
				<div class="container">
					<h3>David Birnbaum <span>Co-CEO</span></h3>

					<p>
						Mr. Birnbaum is Co-Chief Executive Officer sharing responsibility for strategic management of the firm and its investment activities. In addition to being a member of the Griffis Residential Investment Committee, Mr. Birnbaum oversees all sourcing and preliminary analysis for evaluation by the Investment Committee. <span class="more-content">Chairman of the Advisory Committees for Funds I - IV and a member of the Griffis Residential Investment Committee.</span> <a href="javascript:void(0)" title="Read More"><span class="active">Read More</span><span class="noactive">Read Less</span></a>
					</p>
					
				</div>
			</div>
		</div>
		
	</div>
</div>