<div class="icons-list text-center">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<p>
					<img class="icon-logo" src="assets/images/icon2.svg">
				</p>
				<h3>Recycling Centers</h3>
				<p>
					All of our apartment communities offer on-site Single Stream recycling centers for all residents.
				</p>
			</div>
			<div class="col-sm-4">
				<p>
					<img class="icon-logo" src="assets/images/icon3.svg">
				</p>
				<h3>Water Conservation</h3>
				<p>
					We are always on the lookout for ways to conserve water and incorporate eco-
					friendly practices into our apartment community landscape maintenance. 
				</p>
			</div>
			<div class="col-sm-4">
				<p>
					<img class="icon-logo" src="assets/images/icon4.svg">
				</p>
				<h3>Energy Efficient</h3>
				<p>
					We use energy-efficient lighting in the common areas of our eco-friendly apartments. All of our communities also have on-site recycling for CFLs.
				</p>
			</div>
		</div>
	</div>
</div>