<div class="denver-front-range-box style-right">
	<div class="img-box text-center" style="background-image: url(assets/data/img10.jpg)">
		<div class="table">
			<div class="cell">
				<h2>
					Las Vegas, NV
				</h2>
				<a href="#" title="View Communities" class="btn">View Communities</a>
			</div>
		</div>
		
	</div>
	<div class="content">
		<div class="table">
			<div class="cell">
				<h3>
					Lorem Ipsum Dolor
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pretium risus, nec hendrerit sem. Morbi dapibus justo non velit interdum elementum. Aenean in sapien a sapien blandit sodales. Praesent lacinia, sapien quis finibus imperdiet, felis ante faucibus urna.
				</p>
				<hr/>
				<div class="row">
					<div class="col-xs-6">
						<ul>
							<li>
								<a href="#" title="Griffis Cornerstone Park">Griffis Cornerstone Park</a>
							</li>
							
						</ul>
					</div>
					<div class="col-xs-6">
						<ul>
							<li>
								<a href="#" title="Griffis Summerlin South">Griffis Summerlin South</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>