
<div class="text-over-img style3 text-center pin-height parallax-window"  data-parallax="scroll" data-image-src="assets/data/img28.jpg">
	<div class="table">
		<div class="cell">
			<div class="container">
				<p>
					<img class="iconsvg" src="assets/images/icon5.svg">
				</p>
				<p>
					Voted one of The Denver Post’s top workplaces in 2015
				</p>
			</div>
		</div>
	</div>
</div>