.premier-apartment-communities {
	padding: 40px 0 30px;
	.container {
		max-width: 640px;
	}
	.btn{
		color: $btncolor1;
		border: 2px solid $btncolor1;
		padding: 8px 35px;
		border-radius: 0px;
		margin-top: 10px;
		&:hover{
			color: $wrapperbg;
		}
	}
}
@media only screen and (max-width: 767px){
	.premier-apartment-communities {
		padding-bottom: 20px;
	}
}