<div class="premier-apartment-communities">
	<div class="container text-center">
		<h2>
			Premier Apartment Communities
		</h2>
		<p>
			Griffis Residential owns and manages a distinct portfolio of attainable high-quality apartment communities in premier locations. Our motto is simple: It’s about you.
		</p>
	</div>
</div>